.oswald_font{
	font-family:'Oswald', sans-serif;
}

.font-200{
	font-weight: 200;
}

.font-300{
	font-weight: 300;
}

.font-400{
	font-weight: 400;
}

.font-500{
	font-weight: 500;
}

.font-600{
	font-weight: 600;
}

.font-700{
	font-weight: 700;
}

.font-800{
	font-weight: 800;
}

.opacity-90{
	opacity: .9;
}

.opacity-80{
	opacity: .8;
}

.opacity-70{
	opacity: .7;
}

.opacity-60{
	opacity: .6;
}

.opacity-50{
	opacity: .5;
}

.text_color-logo{
	color: #ff0022;
}

/* bgbox */

.bgbox{
	display: block;
	position: relative;
	background-color: #f5f6ff;
	height: auto;
	width: 100%;
	margin: 80px 0px;
}

.bgbox-heading{
	height: 55px;
	padding: 10px 20px;
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 0px 10px 3px rgba(36, 36, 37, 0.253);
	border-radius: 55px;
	left: 50%;
	transform: translateX(-50%);
	top: -30px
}

.bgbox-heading h3{
	margin: 0px;
}

/* home */

.home{
	padding: 40px;
}

/* features */

.features{
	padding: 40px;
}

.features-gridbox{
	display: grid;
	grid-template-columns: 1fr 9fr;
}

.features-list{
	background-color: #fff;
	height: auto;
	width: 100%;
	margin-bottom: 15px;
	padding: 15px;
}

.features-list h5{
	margin: 0px;
	line-height: 30px;
	font-style: 16px;
}
